@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Rubik:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Questrial", sans-serif;
  /*  Center Everything  */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  margin: 0;
  background-color: #666;
}

h1 {
  color: #fff;
}

h2 {
  margin-top: 0;
}

.screen {
  cursor: pointer;
  width: 60%;
  /*  !important - override anything else  */
  background-color: #000 !important;
  /*  Top left and right corners are rounded */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.controls {
  background: #333;
  color: #fff;
  width: 60%;
  /*  Bottom of control box (attached to video box) has rounded corners  */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /*  Aligns the progress bar with horiz. with the buttons  */
  display: flex;
  justify-content: center;
  /*  Aligns the 00:00 in the center  */
  align-items: center;
  padding: 10px;
}

/*  Takes away the boxes around the play and stop button  */
.controls,
.btn {
  border: 0;
  background: transparent;
  cursor: pointer;
}

/*  Color for the buttons  */
.controls .fa-play {
  color: #28a745;
}

.controls .fa-stop {
  color: #dc3545;
}

.controls .fa-pause {
  color: #fff;
}

/*  Scoots time stamp (00:00) to the rigth of the progress bar  */
.controls .timestamp {
  color: #fff;
  font-weight: bold;
  margin-left: 10px;
}

.btn:focus {
  outline: 0;
}

@media (max-width: 800px) {
  .screen,
  .controls {
    width: 90%;
  }
}
